<form #formQuote = 'ngForm' (ngSubmit) = 'postQuote()'>

  <div class="form-group ">
    <label for="text">Name</label><input type="text" id="Name" name='name' class="form-control" placeholder="Abdullahi" size="20" #name='ngModel' [(ngModel)]='newQuote.name' required>
  </div>
  <div class="form-group">
    <label for="text">Author</label><input type="text" id="Author" name='author' class="form-control" placeholder="Mohandas  Gandhi." size="20" required [(ngModel)]='newQuote.author'>
  </div>
  <div class="form-group"><br>
    <label for="qoute">Your Inspiration Qoute: </label> <textarea name="quote" [(ngModel)]='newQuote.inspire' rows="4" cols="80" placeholder="Happiness is when what you think, what you say, and what you do are in harmony.
If you don't ask, you don't get it ."></textarea>
  </div><br>
  <button type="submit" name="button" class="btn">
<p class="btn btn-primary">  Post Quote! </p>
  </button><br>


</form>
